body {
    background-color: white;
    font-family: "Lato", sans-serif;
}

.header {
    background: #0f421d;
    color: darkgoldenrod;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    overflow: hidden;
    padding-right: 10px;
    text-align: center;
}

.header h1 {
    color: darkorange;
    margin-left: 20px;
    margin-top: 15px;
}

.header button {
    background: transparent;
    border: solid transparent;
    color:  white;
    outline: none;
}

.header button:focus {
    color:  darkgoldenrod;
}

.header button:hover {
    color:  #66bd63;
    cursor: pointer;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
    color: #e0d71d;
}

.header-dropdown-menu {
    background: #474849;
    display: none;
    opacity: .8;
    position: fixed;
    top: 60px;
    right: 0;
    width: 225px;
    z-index: 4000;
    margin-right: 8px;
}

.header-dropdown-menu ul {
    list-style-type: none;
    margin: 15px 0 10px 0;
    padding: 0;
}

.header-dropdown-menu a {
    color: white;
    text-decoration: none;
}

.header-dropdown-menu a:hover {
    color: darkgoldenrod;
    outline: none;
}

.header-dropdown-menu a:focus {
    color: maroon;
    outline: none;
}

div.topnav {
    background-color: #000000;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    width: 25%;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnavlink {
    width: 20%;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.datadiv {
    text-align: center;
    display: inline-block;
}

.datalist {
    font-size: small;
}

div.aboutdiv {
    margin-left: auto;
    margin-right: auto;
}



.splash, .data-page-splash {
    background: #0f421d;
    box-shadow: 0 0 10px 0 #474849;
    opacity: .95;
    padding: 10px;
    position: absolute;
    top: 30%;
    margin: 0 auto;
    right: 10%;
    left: 10%;
    max-width: 500px;
    z-index: 10000;
}

.splash, .data-page-splash h2, p {
    color: #cc9c33;
}

.splash-close-btn {
    background: transparent;
    border: 1px solid transparent;
    color: red;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    outline: none;
}

.splash-close-btn:hover {
    color: #66bd63;
}

.data-page-splash p {
    display: inline;
}

